<footer class="footer">
   <div class='container'>
      <div class="footer__inner">
         <div class="footer__item">
            <a href="#" class="footer__logo">
               <img src="assets/img/footer-logo.svg" alt="logo">
            </a>
            <ul class="footer__links footer__desc">
               <li><a href="#">Политика конфиденциальности</a></li>
               <li><a href="#">Пользовательское соглашение</a></li>
               <li><a href="#cookie-popup" class="btn-popup">Политика обработки файлов cookies</a></li>
               <li><a href="#">Политика возврата</a></li>
            </ul>
            <div class="footer__copy footer__desc">
               <span>©2024 Market Monstr Group </span>
               <span>Все права защищены</span>
            </div>
         </div>
         <div class="footer__item">
            <div class="footer__title"><img src="assets/img/nav.svg" alt="icon"> Навигация</div>
            <ul class="footer__nav">
               <li><a href="#">Главная</a></li>
               <li><a href="#">Продукты</a></li>
               <li><a href="#">Сообщество</a></li>
               <li><a href="#">Предложения</a></li>
               <li><a href="#">Связь</a></li>
            </ul>
         </div>
         <div class="footer__item">
            <div class="footer__title"><img src="assets/img/tel.svg" alt="icon"> Номер связи</div>
            <div class="footer__tell">
               <a href="#">8 (999) 999 99-99</a>
            </div>
            <div class="footer__email">
               <a href="#">support@marketmonstr.info</a>
            </div>

            <div class="footer__soc">
               <a href="#">
                  <img src="assets/img/telegram.svg" alt="telegram">
               </a>
               <a href="#">
                  <img src="assets/img/whatsapp.svg" alt="whatsapp">
               </a>
               <a href="#">
                  <img src="assets/img/vk.svg" alt="vk">
               </a>
            </div>
         </div>
         <div class="footer__item footer__item--last">
            <a href="#" class="btn btn--white">Связаться</a>
             <div class="footer-qr">
               <div class="footer-qr__title">Презентация проекта <br> Market Monstr</div>
               <a href="#qr-popup" class="footer-qr__link btn-popup">
                  <img src="assets/img/qr.png" alt="qr">
               </a>
             </div>
         </div>

         <div class="footer__mob">
            <ul class="footer__links">
               <li><a href="#">Политика конфиденциальности</a></li>
               <li><a href="#">Пользовательское соглашение</a></li>
               <li><a href="#cookie-popup" class="btn-popup">Политика обработки файлов cookies</a></li>
               <li><a href="#">Политика возврата</a></li>
            </ul>
            <div class="footer__copy">
               <span>©2024 Market Monstr Group </span>
               <span>Все права защищены</span>
            </div>
         </div>
      </div>
   </div>
</footer>
 

<script src="assets/js/plugins.min.js"></script>
<script src="assets/js/price.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>