<div class="cookie-popup zoom-anim-dialog mfp-hide" id="cookie-popup">
   <div class="cookie-popup__title">Мы уважаем вашу конфидециальность</div>
   <div class="cookie-popup__text">
      <p>Мы используем файлы cookie, чтобы улучшить ваш опыт, но не храним в них конфидециальную личную информацию.
         Подробную информацию можно найти в нашей <br><a href="#">Политике конфидециальности.</a></p>
      <p>Ознакомьтесь с полной <a href="#">Политикой использования файлов cookie</a></p>
   </div>
   <div class="cookie-popup__btbs">
      <a href="#" class="sm-btn sm-btn--grey">Принять файлы cookie</a>
      <a href="#" class="sm-btn sm-btn--grey">Отклонить файлы cookie</a>
      <a href="#" class="sm-btn sm-btn--black">Управление файлами cookie</a>
   </div>
</div>

<div class="qr-popup zoom-anim-dialog mfp-hide" id="qr-popup">
   <div class="qr-popup__text">Отсканируйте QR-код для получения нашей презентации или нажмите кнопку для сохранения</div>
   <div class="qr-popup__qr">
      <img src="assets/img/qr.png" alt="qr" class="">
   </div>
   <div class="qr-popup__btn">
      <a href="#" class="btn btn--border">Сохранить</a>
      <a href="#" class="btn-download">
         <img src="assets/img/download.svg" alt="icon">
      </a>
   </div>
</div>