
<section class="s-tarify">
   <div class='container'>

      <div class="section-head section-head--orange">
         <div class="section-head__icon">
            <img src="assets/img/h8.svg" alt="icon">
         </div>
         <div class="headline headline--blue">08. услуги и цены</div>
         <div class="h2">Тафирные планы</div>         
      </div>

      <div class="tarrifs">
         <div class="tarrifs__head">
            <div class="tarrifs__item">
               <div class="compamy-list">
                  <label class="company-btn">
                     <input type="radio" value="wb" name="company" checked>
                     <span class="company-btn__inner">
                        <div class="company-btn__img">
                           <img src="assets/img/wb.png" alt="img">
                        </div>
                     </span>
                  </label>
                  <label class="company-btn">
                     <input type="radio" value="ozon" name="company">
                     <span class="company-btn__inner">
                        <div class="company-btn__img">
                           <img src="assets/img/ozon.png" alt="img">
                        </div>
                     </span>
                  </label>
                  <label class="company-btn">
                     <input type="radio" value="avito" name="company" disabled>
                     <span class="company-btn__inner">
                        <div class="company-btn__img">
                           <img src="assets/img/avito.png" alt="img">
                        </div>
                     </span>
                  </label>
                  <label class="company-btn">
                     <input type="radio" value="avito" name="company" disabled>
                     <span class="company-btn__inner">
                        <div class="company-btn__img">
                           <img src="assets/img/m.png" alt="img">
                        </div>
                     </span>
                  </label>
                  <label class="company-btn">
                     <input type="radio" value="avito" name="company" disabled>
                     <span class="company-btn__inner">
                        <div class="company-btn__img">
                           <img src="assets/img/flore.png" alt="img">
                        </div>
                     </span>
                  </label>
                  <label class="company-btn">
                     <input type="radio" value="avito" name="company" disabled>
                     <span class="company-btn__inner">
                        <div class="company-btn__img">
                           <img src="assets/img/uzum.png" alt="img">
                        </div>
                     </span>
                  </label>
                  <label class="company-btn">
                     <input type="radio" value="avito" name="company" disabled>
                     <span class="company-btn__inner">
                        <div class="company-btn__img">
                           <img src="assets/img/m2.png" alt="img">
                        </div>
                     </span>
                  </label>
                  <label class="company-btn">
                     <input type="radio" value="avito" name="company" disabled>
                     <span class="company-btn__inner">
                        <div class="company-btn__img">
                           <img src="assets/img/sber.png" alt="img">
                        </div>
                     </span>
                  </label>
               </div>
   
               <select class="company-select" name="company">
                  <option value="wb">wildberries</option>
                  <option value="ozon">Ozon</option>
                  <option value="avito" disabled>Авито</option>
                  <option value="ya" disabled>Яндекс маркет</option>
                  <option value="flowwow" disabled>flowwow</option>
                  <option value="uzum" disabled>uzum</option>
                  <option value="magnit" disabled>магнит</option>
                  <option value="sber" disabled>сбермега маркет</option>
               </select>
            </div>
   
            <div class="tarrifs__item tarrifs__btns">
               <label class="tarrif-btn">
                  <input type="radio" value="launch" name="packet" checked>
                  <span class="tarrif-btn__inner">Запуск</span>
               </label>
               <label class="tarrif-btn">
                  <input type="radio" value="increase" name="packet">
                  <span class="tarrif-btn__inner">Рост</span>
               </label>
               <label class="tarrif-btn">
                  <input type="radio" value="support" name="packet">
                  <span class="tarrif-btn__inner">Поддержка</span>
               </label>
            </div>
   
            <div class="tarrifs__item tarrifs__btns">
               <label class="tarrif-btn">
                  <input type="radio" value="basic" name="tariff" checked>
                  <span class="tarrif-btn__inner">Базовый</span>
               </label>
               <label class="tarrif-btn">
                  <input type="radio" value="full" name="tariff">
                  <span class="tarrif-btn__inner">Под ключ</span>
               </label>
            </div>
   
            <div class="tarrifs__item tarrifs__btns md-scroll">
               <label class="tarrif-btn">
                  <input type="radio" value="month1" name="pay" checked>
                  <span class="tarrif-btn__inner">Ежемесячно</span>
               </label>
               <label class="tarrif-btn">
                  <input type="radio" value="month3" name="pay">
                  <span class="tarrif-btn__inner">
                     <span>3 месяца</span>
                     <span class="rossrochka">Рассрочка</span>
                  </span>
               </label>
               <label class="tarrif-btn">
                  <input type="radio" value="month6" name="pay">
                  <span class="tarrif-btn__inner"><span>6 месяца</span> <span class="rossrochka">Рассрочка</span></span>
               </label>
               <label class="tarrif-btn">
                  <input type="radio" value="month12" name="pay">
                  <span class="tarrif-btn__inner"><span>12 месяца</span> <span class="rossrochka">Рассрочка</span></span>
               </label>
            </div>
         </div>
         <div class="stiky-tariff">
            <div class="packet-mobile">
               <div class="packet-mobile__title">Сравнение тарифов</div>
               <div class="packet-mobile__item">
                  <select class="tarif-select" name="tarrif-select-left">
                     <option value="demo">DEMO</option>
                     <option value="start" disabled>START</option>
                     <option value="pro">PRO</option>
                     <option value="vip">VIP</option>
                  </select>
               </div>
               <div class="packet-mobile__item">
                  <select class="tarif-select" name="tarrif-select-right">
                     <option value="start">START</option>
                     <option value="demo" disabled>DEMO</option>
                     <option value="pro">PRO</option>
                     <option value="vip">VIP</option>
                  </select>
               </div>
            </div>
            <div class="packet">
               <div class="packet__item d-col show" data-packet-name="demo">
                  <div class="packet__name">DEMO</div>
                  <div class="packet__price"></div>
                  <a href="#" class="packet__btn">Купить</a>
               </div>
               <div class="packet__item d-col show" data-packet-name="start">
                  <div class="packet__name">START</div>
                  <div class="packet__price"></div>
                  <a href="#" class="packet__btn disabled">Купить</a>
               </div>
               <div class="packet__item d-col" data-packet-name="pro">
                  <div class="packet__name">PRO <span class="popular">🔥Популярно</span></div>
                  <div class="packet__price"></div>
                  <a href="#" class="packet__btn">Купить</a>
               </div>
               <div class="packet__item d-col" data-packet-name="vip">
                  <div class="packet__name">VIP <span class="recomend">Рекомендуем</span></div>
                  <div class="packet__price"></div>
                  <a href="#" class="packet__btn">Купить</a>
               </div>
            </div>
         </div>

         <div class="table">

         </div>
      </div>
   </div>
</section>