
.tarrifs {
   &__head {
      padding: 6px 6px;
      background: #FFDED3;
      position: relative;
      z-index: 11;
   
      @include md {
         margin-left: -15px;
         margin-right: -15px;
      }
   }

   .stiky-tariff {
      background: #FFDED3;
      position: sticky;
      top: 70px;
      left: 0;
      border-radius: 0 0 10px 10px;
      z-index: 10;
      padding-bottom: 20px;

      @include md {
         margin-left: -15px;
         margin-right: -15px;
         border-radius: 0;
         padding: 6px 15px 10px;
      }

      @include sm {
         top: 55px;
      }
   }

   .packet {
      

      
   }
   
   &__item {
      margin-bottom: 20px;

      @include sm {
         margin-bottom: 10px;
      }
   }

   &__btns {
      display: flex;
      gap: 20px;

      @include sm {
         gap: 10px;
      }
   }
}

.compamy-list {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 10px 30px;

   @include md {
      display: none;
   }
}


.company-btn {
   display: inline-block;
   overflow: hidden;

   input {
      position: absolute;
      z-index: -1;
      opacity: 0;

      &:checked + .company-btn__inner {
         border-color: #fff;
      }

      &:disabled + .company-btn__inner {
         cursor: default;

         .company-btn__img {
            &:after {
               content: '';
               display: block;
               width: 100%;
               height: 100%;
               background-image: url('../img/dev.svg');
               background-repeat: no-repeat;
               background-size: cover;
               background-position: center;
               position: absolute;
               top: 0;
               left: 0;
            }
         }
      }
   }

   &__inner {
      display: block;
      padding: 0px;
      cursor: pointer;
      border: 7px solid transparent;
      border-radius: 7px;
      position: relative;
   }

   &__img {
      position: relative;
      border-radius: 7px;
      overflow: hidden;
      img {
         width: 100%;
         height: 100%;
      }
   }
}

.tarrif-btn {
   display: flex;
   flex: 1 1 auto;
   position: relative;

   @include md {

   }

   input {
      position: absolute;
      z-index: -1;
      opacity: 0;

      &:checked + .tarrif-btn__inner {
         background-color: #292930;
         color: #fff;
      }
   }

   &__inner {
      display: block;
      padding: 10px;
      cursor: pointer;
      text-align: center;
      background-color: #fff;
      width: 100%;
      font-family: var(--nunito);
      font-size: 18px;
      font-weight: 700;
      color: #292930;
      border-radius: 7px;

      @include sm {
         font-size: 16px;
      }
   }

   .rossrochka {
      font-size: 16px;
      color: #292930;
      font-weight: 500;
      padding: 2px 5px;
      background-color: #FFDC60;
      border-radius: 7px;
   }
}

.hidden {
   display: none;
}

.d-name {
   width: 25%;

   @include md {
      width: 100%;
   }
}

.d-col {
   width: 18.75%;
   flex-shrink: 0;

   @include md {
      width: calc(50% - 10px);
   }
}

.table {
   padding-top: 30px;

   .row {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid #DDDFE0;
      font-family: var(--nunito);
      font-size: 13px;
      color: #292930;

      &:nth-child(odd) {
         background-color: #F6F7F8;

         @include md {
            background-color: transparent;
            
         }
      }

      @include md {
         gap: 0 20px;
         padding: 6px 0;
      }
   }

   &__item {
      padding-right: 60px;

      @include md {
         padding-right: 0;
      }
   }

   &__title {
      font-family: var(--nunito);
      font-size: 16px;
      font-weight: 800;
      padding: 12px 60px 12px 0;
      position: relative;
      cursor: pointer;

      @include md {
         order: 1;
      }

      &.hide {
         &:after {
            transform: rotate(0deg);
         }
      }

      &::before {
         content: '';
         display: block;
         width: calc(100% + 60px);
         height: 1px;
         background-color: #dddfe0;
         position: absolute;
         top: -1px;
         left: 0;

         @include md {
            display: none;
         }
      }

      &:after {
         content: '';
         display: block;
         background-image: url('../img/table-icon.svg');
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
         width: 16px;
         height: 16px;
         position: absolute;
         top: 50%;
         right: -60px;
         margin-top: -8px;
         transform: rotate(180deg);
         transition: 0.5s;

         @include md {
            right: 0;
         }
      }
   }

   &__name {
      padding: 15px 10px;
      display: flex;
      align-items: center;

      @include md {
         padding: 0px 0px;
         margin-bottom: 12px;
      }
   }

   &__col {
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid #DDDFE0;
      padding: 10px 0;

      @include md {
         border-left: none;
         justify-content: flex-start;
         display: none;
         padding: 0px 0;

         &.show {
            display: flex;
         }
      }
   }
}

.packet {
   display: flex;
   justify-content: flex-end;
   padding-right: 60px;
   padding-top: 20px;

   @include md {
      padding-right: 0;
      gap: 20px;
      padding-top: 10px;
   }

   &__item {
      padding: 0 7px;

      @include md {
         display: none;
         width: calc(50% - 10px);
         padding: 0;

         &.show {
            display: block;
         }
      }
   }

   &__name {
      font-size: 14px;
      font-weight: 500;
      color: #292930;
      margin-bottom: 10px;

      .popular {
         padding: 2px 10px 2px 4px;
         color: #fff;
         background-color: #292930;
         border-radius: 7px;
         margin-left: 10px;

         @include md {
            display: none;
         }
      }

      .recomend {
         padding: 2px 4px 2px 4px;
         background-color: #2EFFB9;
         border-radius: 7px;
         margin-left: 10px;

         @include md {
            display: none;
         }
      }
   }

   &__price {
      font-size: 20px;
      color: #292930;
      font-weight: 500;
      margin-bottom: 8px;

      @include md {
         font-size: 18px;
      }
   }

   &__btn {
      padding: 13px 10px;
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      background-color: #292930;
      display: block;
      text-decoration: none;
      text-align: center;
      border-radius: 8px;
      cursor: pointer;
      
      @include md {
         padding: 11px 10px;
      }

      &.disabled {
         cursor: default;
         pointer-events: none;
         background-color: #999999;
      }
   }
}

.packet-mobile {
   flex-wrap: wrap;
   gap: 10px 20px;
   display: none;

   @include md {
      display: flex;
   }

   &__title {
      font-family: var(--nunito);
      font-size: 14px;
      line-height: 1.5;
      text-transform: uppercase;
      width: 100%;
   }

   &__item {
      width: calc(50% - 10px);
   }

   select {
      width: 100%;
   }
}

.tarif-select {
   float: none;
   font-family: var(--nunito);

   .current {
      font-weight: 700;
   }

   .list {
      width: 100%;
   }

   .current {
      text-transform: uppercase;
      font-size: 14px;
      color: #292930;
   }

   .option {
      font-size: 14px;
      color: #292930;
      text-transform: uppercase;

      &:not(:last-child) {
         border-bottom: 1px solid #F0F0F0;
      }
   }
}

.company-select {
   float: none;
   
   font-family: var(--nunito);
   display: none;

   @include md {
      display: block;
   }

   .current {
      font-weight: 700;
   }

   .list {
      width: 100%;
   }

   .current {
      text-transform: uppercase;
      font-size: 14px;
      color: #292930;
   }

   .option {
      font-size: 14px;
      color: #292930;
      text-transform: uppercase;
      &:not(:last-child) {
         border-bottom: 1px solid #F0F0F0;
      }
      &.disabled {
         position: relative;
         padding-right: 90px;

         &::before {
            content: 'В разработке';
            position: absolute;
            right: 0;
            top: 0px;
            font-size: 10px;
            color: #FFA004;
            padding: 0 10px;
         }
      }
   }
}

.md-scroll {
   
   @include md {
      overflow-x: scroll;

      .tarrif-btn {
         
         &__inner {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
         }

         .rossrochka {
            display: inline-block;
         }
      }
   }
}